.layui-tab .layui-tab-title {
  text-align: center;
}
.layui-tab-brief {
  background-color: #FFFFFF;
  min-height: 100vh;
}
.layui-tab-content {
  background-color: #FFFFFF;
}
.aboutinfo .aboutinfo-figure img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 45%;
}
.aboutinfo .aboutinfo-contact a {
  padding: 10px;
}
.aboutinfo .aboutinfo-nickname {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-top: 5px;
}
.aboutinfo .aboutinfo-introduce {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-top: 5px;
}
.aboutinfo .aboutinfo-location {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-top: 5px;
}
.aboutinfo .aboutinfo-contact {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}
.aboutinfo fieldset legend {
  text-align: center;
  text-align: -moz-center;
  margin-left: 47.5%;
}
.aboutinfo .aboutinfo-abstract {
  width: 90%;
  margin-left: 5%;
}
.aboutinfo .aboutinfo-abstract h1 {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-top: 15px;
}
.aboutinfo .friendlink {
  padding: 0 15px;
}
.aboutinfo .friendlink li {
  width: 30%;
  margin: 0 1%;
  margin-top: 10px;
  float: left;
}
.aboutinfo .friendlink-item {
  -webkit-box-shadow: inset 0 0 2px #5FB878;
          box-shadow: inset 0 0 2px #5FB878;
  width: 100%;
  display: block;
  padding: 10px 0;
  text-align: left;
  min-height: 45px;
  position: relative;
}
.aboutinfo .friendlink-item:hover {
  -webkit-box-shadow: 0 0 2px #5FB878;
          box-shadow: 0 0 2px #5FB878;
}
.aboutinfo .friendlink-item-pic {
  display: inline-block;
  position: absolute;
  left: 10%;
  margin: 0 10px;
}
.aboutinfo .friendlink-item-pic img {
  width: 45px;
  height: 45px;
  position: relative;
  left: 0px;
  border-radius: 50px;
}
.aboutinfo .friendlink-item-title {
  font-size: 17px;
  margin-left: 65px;
  text-align: center;
  line-height: 20px;
}
.aboutinfo .friendlink-item-domain {
  font-size: 13px;
  margin-left: 65px;
  text-align: center;
  line-height: 20px;
  margin-top: 5px;
}
.aboutinfo .leavemessage .blog-comment li:first-child {
  border-top: 1px dotted #01AAED;
  border-bottom: 1px dotted #01AAED;
}
.aboutinfo .leavemessage .blog-comment li {
  border-bottom: 1px dotted #01AAED;
}
.aboutinfo .comment-parent .info .username {
  margin-left: 53px;
  color: #01AAED;
}
.aboutinfo .comment-parent img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  margin: 5px 5px 5px 0;
  display: inline-block;
}
.aboutinfo .content {
  margin-left: 53px;
}
.aboutinfo .info-footer {
  margin-top: 20px;
}
.aboutinfo .info-footer .time {
  margin-left: 53px;
}
.aboutinfo .info-footer .btn-reply {
  margin-left: 5px;
  color: #009E94;
}
.aboutinfo .blog-comment .comment-parent {
  padding-top: 10px;
}
.aboutinfo .blog-comment hr {
  margin-left: 53px;
}
.aboutinfo .comment-child {
  margin-left: 53px;
  margin-top: 10px;
}
.aboutinfo .comment-child img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}
.aboutinfo .comment-child .comment-content .username {
  margin-left: 45px;
  color: #01AAED;
}
.aboutinfo .comment-child .comment-content span:nth-child(1) {
  margin-left: 45px;
}
.aboutinfo .comment-child .info {
  padding-bottom: 10px;
}
.aboutinfo .comment-child .info .username {
  margin-left: 45px;
  color: #01AAED;
}
.aboutinfo .comment-child .info span:nth-child(2) {
  margin-left: 5px;
}
.aboutinfo .comment-child .info .time {
  margin-left: 45px;
}
.aboutinfo .replycontainer {
  margin-left: 53px;
}
