.clear {
  clear: both;
}
.layui-main {
  min-height: 100vh;
}
.resource {
  float: left;
  width: 23.5%;
  margin: 0 1%;
  height: 300px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 8px 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}
.resource .resource-cover {
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  text-align: center;
}
.resource .resource-cover a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.resource .resource-cover a img {
  width: 100%;
  height: 100%;
}
.resource .resource-cover:hover {
  border: 1px solid #009E94;
  opacity: .7;
}
.resource .resource-title {
  text-align: center;
  margin-top: 5px;
}
.resource .resource-title a {
  font-size: 18px;
  color: #009E94;
  font-weight: bold;
}
.resource .resource-introduction {
  text-align: center;
  font-size: smaller;
  color: #838383;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
}
.resource .resource-info {
  font-size: smaller;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 2px 10px;
}
.resource .resource-info .category1 {
  float: left;
}
.resource .resource-info .author {
  float: right;
}
.resource .resource-footer {
  font-size: small;
  border-top: 1px solid #e7e7e7;
  -webkit-box-shadow: 0 1px 0 0 #fff inset;
          box-shadow: 0 1px 0 0 #fff inset;
  color: #8B8B8C;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  line-height: 50px;
  text-align: center;
}
.resource .resource-footer .resource-footer i {
  font-size: 12px !important;
}
.resource-main .resource:nth-child(odd) {
  margin-left: 1%;
}
.resource-main .resource:nth-child(even) {
  margin-right: 1%;
}
.resource-main .resource:nth-child(3n+1) {
  margin-left: 1%;
}
.resource-main .resource:nth-child(3n+3) {
  margin-right: 1%;
}
.resource-main .resource:nth-child(4n+1) {
  margin-left: 0;
}
.resource-main .resource:nth-child(4n) {
  margin-right: 0;
}
