.layui-main {
  min-height: 56vh;
}
.layui-tab-title {
  text-align: center;
}
.layui-form {
  margin-left: 20%;
}
.layui-form-mid span img {
  height: 38px;
  margin-top: -10px;
}
.fly-form-app a {
  font-size: 18px;
  margin-left: 5px;
  color: #7CA9C9;
}
