{extend name="base" /} {block name="main"}
<div class="layui-main">

	<div class="child-nav shadow">
		<span class="child-nav-btn child-nav-btn-this">全部</span>
		<span class="child-nav-btn">工具</span>
		<span class="child-nav-btn">源码</span>
		<span class="child-nav-btn">电子书</span>
	</div>

	<div class="resource-main">
		<div class="resource shadow">
			<div class="resource-cover">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);">
					<img src="/public/img/avatar/6.jpg" alt="切换到演示地址">
				</a>
			</div>
			<h1 class="resource-title">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);" target="_blank">
					<p>时间轴</p>
				</a>
			</h1>
			<p class="resource-introduction">本时光轴是全手工打造</p>
			<div class="resource-info over">
				<span class="category1">
					<a href="javascript:layer.msg(&#39;切换到相应分类!&#39;);">
						<i class="fa fa-tag"></i>源码</a>
				</span>
				<span class="author">
					<i class="fa fa-user"></i>Tony</span>
			</div>
			<div class="resource-footer">
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">
					<i class="fa fa-eye"></i>演示</a>
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填下载地址&#39;)" target="_blank">
					<i class="fa fa-download"></i>下载</a>
			</div>
		</div>
		<div class="resource shadow">
			<div class="resource-cover">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);">
					<img src="/public/img/avatar/6.jpg" alt="切换到演示地址">
				</a>
			</div>
			<h1 class="resource-title">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);" target="_blank">
					<p>时间轴</p>
				</a>
			</h1>
			<p class="resource-introduction">本时光轴是全手工打造</p>
			<div class="resource-info over">
				<span class="category1">
					<a href="javascript:layer.msg(&#39;切换到相应分类!&#39;);">
						<i class="fa fa-tag"></i>源码</a>
				</span>
				<span class="author">
					<i class="fa fa-user"></i>Tony</span>
			</div>
			<div class="resource-footer">
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">
					<i class="fa fa-eye"></i>演示</a>
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填下载地址&#39;)" target="_blank">
					<i class="fa fa-download"></i>下载</a>
			</div>
		</div>
		<div class="resource shadow">
			<div class="resource-cover">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);">
					<img src="/public/img/avatar/6.jpg" alt="切换到演示地址">
				</a>
			</div>
			<h1 class="resource-title">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);" target="_blank">
					<p>时间轴</p>
				</a>
			</h1>
			<p class="resource-introduction">本时光轴是全手工打造</p>
			<div class="resource-info over">
				<span class="category1">
					<a href="javascript:layer.msg(&#39;切换到相应分类!&#39;);">
						<i class="fa fa-tag"></i>源码</a>
				</span>
				<span class="author">
					<i class="fa fa-user"></i>Tony</span>
			</div>
			<div class="resource-footer">
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">
					<i class="fa fa-eye"></i>演示</a>
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填下载地址&#39;)" target="_blank">
					<i class="fa fa-download"></i>下载</a>
			</div>
		</div>
		<div class="resource shadow">
			<div class="resource-cover">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);">
					<img src="/public/img/avatar/6.jpg" alt="切换到演示地址">
				</a>
			</div>
			<h1 class="resource-title">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);" target="_blank">
					<p>时间轴</p>
				</a>
			</h1>
			<p class="resource-introduction">本时光轴是全手工打造</p>
			<div class="resource-info over">
				<span class="category1">
					<a href="javascript:layer.msg(&#39;切换到相应分类!&#39;);">
						<i class="fa fa-tag"></i>源码</a>
				</span>
				<span class="author">
					<i class="fa fa-user"></i>Tony</span>
			</div>
			<div class="resource-footer">
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">
					<i class="fa fa-eye"></i>演示</a>
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填下载地址&#39;)" target="_blank">
					<i class="fa fa-download"></i>下载</a>
			</div>
		</div>
		<div class="resource shadow">
			<div class="resource-cover">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);">
					<img src="/public/img/avatar/6.jpg" alt="切换到演示地址">
				</a>
			</div>
			<h1 class="resource-title">
				<a href="javascript:layer.msg(&#39;切换到演示地址!&#39;);" target="_blank">
					<p>时间轴</p>
				</a>
			</h1>
			<p class="resource-introduction">本时光轴是全手工打造</p>
			<div class="resource-info over">
				<span class="category1">
					<a href="javascript:layer.msg(&#39;切换到相应分类!&#39;);">
						<i class="fa fa-tag"></i>源码</a>
				</span>
				<span class="author">
					<i class="fa fa-user"></i>Tony</span>
			</div>
			<div class="resource-footer">
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">
					<i class="fa fa-eye"></i>演示</a>
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="javascript:layer.msg(&#39;这里填下载地址&#39;)" target="_blank">
					<i class="fa fa-download"></i>下载</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{/block}
