{extend name="bases" /} {block name="main"}
<canvas id="canvas-banner" style="background: #393D49; width: 100%; height: 200px;"></canvas>
<!--为了及时效果需要立即设置canvas宽高，否则就在home.js中设置-->
<script type="text/javascript">
	var canvas = document.getElementById('canvas-banner');
	canvas.width = window.document.body.clientWidth - 10; //减去滚动条的宽度
	if(screen.width >= 992) {
		canvas.height = window.innerHeight * 1 / 3;
	} else {
		canvas.height = window.innerHeight * 2 / 7;
	}
</script>
<div class="layui-main" style="min-height: 66vh;">
	<div class="fly-panel fly-panel-user" pad20>
		<div class="layui-tab layui-tab-brief">
			<ul class="layui-tab-title">
				<li class="layui-this">登入</li>
				<li>
					<a href="Register.html">注册</a>
				</li>
			</ul>
			<div class="layui-form layui-tab-content loginb" id="LAY_ucm" style="padding: 20px 0;">
				<div class="layui-tab-item layui-show">
					<div class="layui-form layui-form-pane">
						<form method="post" action="/index.php/index/user/login">
							<div class="layui-form-item">
								<label for="L_email" class="layui-form-label">邮箱</label>
								<div class="layui-input-inline">
									<input type="text" id="L_email" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label for="L_pass" class="layui-form-label">密码</label>
								<div class="layui-input-inline">
									<input type="password" id="L_pass" name="pass" required lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label for="L_vercode" class="layui-form-label">验证码</label>
								<div class="layui-input-inline">
									<input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请输入后面的验证码" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-form-mid">
									<span class="verify" style="color: #c00;">
										{:captcha_img()}
									</span>
								</div>
							</div>
							<div class="layui-form-item login">
								<button class="layui-btn" lay-filter="*" lay-submit>立即登录</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{/block} {block name="script"}
<script type="text/javascript">
	$("form").submit(function(e) {
		e.preventDefault();
		$.ajax({
			type: $(this).attr("method"),
			url: '/index.php/index/user/login',
			data: $(this).serialize(),
			success: function(res) {
				if(res.status == 0) {
					location.href = res.action;
				} else {
					layer.msg(res.msg);
				}
			},
			async: true
		});

	});
	$(".verify img").click(function() {
		$(this).attr('src', '/index.php/captcha.html');
	});
</script>
{/block}